.main {
  display: flex;
}

.body {
  width: 60%;
  margin: 3vw 0 2vw 3vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin: 20px 0;
  text-align: justify;
}

.first-img {
  position: relative;
}

.first-img p {
  position: absolute;
  left: 0;
  bottom: 3px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
  margin: 0 !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  width: 30%;
  height: max-content;
  z-index: 1;
  margin: 3vw 3vw 2vw 3vw;
}

.sidebar a {
  font-size: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  width: 100%;
}

.sidebar a p {
  margin-left: 10px;
  font-size: 17px;
}

.sidebar a:hover img {
  transform: scale(1.05);
}

.article-link {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  border-top: 1px solid lightgray;
  gap: 10px;
}

.article-link h1 {
  font-size: 25px;
  text-align: justify;
}

.article-link p {
  font-size: 17px;
  color: black;
}

.article-link:hover img {
  transform: scale(1.05);
}

.author-section {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.author-section img {
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .body {
    width: auto;
    margin: 3vw;
  }
  .sidebar {
    display: none;
  }
}
